{{ define "content" }}

<link rel="stylesheet" href="/static/css/nouislider.css" />

<div class="container">
  <h1>Groupie Tacker</h1>

  <div class="row">
    <div class="col s12">
      <form action="/search" method="POST">
        <div class="flex">
          <div class="flex-1 input-field">
            <input
              type="text"
              class="validate white-text"
              list="datalist"
              name="input"
              id="search-input"
              autocomplete="off"
              required
            />
            <label for="search-input">Search for anything</label>
          </div>
          <div>
            <button
              type="submit"
              class="btn-floating btn-large waves-effect waves-light teal ml-2"
            >
              <i class="material-icons">search</i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <datalist id="datalist">
    {{ range $name, $artist := .SearchData.Names }}
    <option value="{{ $name }}">{{ $name }} // Artists (Bands)</option>
    {{ end }} {{ range $member, $artist := .SearchData.Members }}
    <option value="{{ $member }}">{{ $member }} // Members</option>
    {{ end }} {{ range .SearchData.Locations }}
    <option value="{{ .Location }}">{{ .Location }} // Locations</option>
    {{ end }} {{ range $date, $artist := .SearchData.CreationDates }}
    <option value="{{ $date }}">{{ $date }} // Creation Dates</option>
    {{ end }}
  </datalist>

  <div class="row">
    <div class="col s12 l4">
      <div class="filters">
        <form id="filter-form" action="/filter" method="GET">
          <h2 class="filters-heading">
            Filter <button class="btn ml-a" type="submit">Apply</button>
          </h2>
          <div class="row">
            <div class="col s12">
              <h3>By creation date</h3>
              <div class="input-field">
                <div
                  id="creation-range"
                  data-min="{{.SearchData.CreationRange.Min}}"
                  data-max="{{.SearchData.CreationRange.Max}}"
                ></div>
              </div>
            </div>
            <div class="col s12">
              <h3>By first album date</h3>
              <div class="input-field">
                <div
                  id="first-album-range"
                  data-min="{{.SearchData.FirstAlbumsRange.Min}}"
                  data-max="{{.SearchData.FirstAlbumsRange.Max}}"
                ></div>
              </div>
            </div>
            <div class="col s12">
              <h3>By number of members</h3>
              <div class="input-field">
                <div
                  id="members-range"
                  data-min="{{.SearchData.MembersRange.Min}}"
                  data-max="{{.SearchData.MembersRange.Max}}"
                ></div>
              </div>
            </div>
            <div class="col s12">
              <h3>By concert location</h3>
              {{ range .SearchData.Countries }}
              <label class="my-1">
                <input type="checkbox" checked />
                <span>{{.}}</span>
              </label>
              {{ end }}
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col s12 l8">
      <div class="row">
        {{ range .Artists }}
        <div class="col s12 m6 l4">
          <div class="card z-3">
            <div class="card-image">
              <a href="/{{ .Slug }}">
                <img src="{{ .Image }}" />
              </a>
              <a
                class="btn-floating btn-large halfway-fab waves-effect waves-light t"
                href="/{{ .Slug }}"
                ><i class="material-icons">arrow_forward</i></a
              >
            </div>

            <div class="card-content">
              <p class="card-title">{{ .Name }}</p>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>

<script src="/static/js/nouislider.min.js"></script>
<script src="/static/js/wNumb.min.js"></script>
<script>
  var mRange = createRange('members-range')
  var faRange = createRange('first-album-range')
  var cRange = createRange('creation-range')

  function createRange(id) {
    var membersRangeEl = document.getElementById(id)
    var min = Number(membersRangeEl.getAttribute('data-min'))
    var max = Number(membersRangeEl.getAttribute('data-max'))

    return noUiSlider.create(membersRangeEl, {
      start: [min, max],
      connect: true,
      step: 1,
      orientation: 'horizontal', // 'horizontal' or 'vertical'
      range: {
        min: min,
        max: max
      },
      format: wNumb({
        decimals: 0
      })
    })
  }

  var filterForm = document.getElementById('filter-form')
  filterForm.addEventListener('submit', function(e) {
    e.preventDefault()
    var data = {
      countries: [],
      creationRange: { min: 0, max: 0 },
      membersRange: { min: 0, max: 0 },
      firstAlbumsRange: { min: 0, max: 0 }
    }

    var inputs = document.querySelectorAll('#filter-form input:checked')
    inputs.forEach(input =>
      data.countries.push(input.closest('label').textContent.trim())
    )

    let min, max
    ;[min, max] = mRange.get()
    data.membersRange.min = Number(min)
    data.membersRange.max = Number(max)
    ;[min, max] = cRange.get()
    data.creationRange.min = Number(min)
    data.creationRange.max = Number(max)
    ;[min, max] = faRange.get()
    data.firstAlbumsRange.min = Number(min)
    data.firstAlbumsRange.max = Number(max)

    fetch('/filter', {
      headers: {
        'Content-Type': 'application/json'
      },
      method: 'POST',
      body: JSON.stringify(data)
    })
  })
</script>

{{ end }}
